@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "OverusedGrotesk ";
    src: url("../public/fonts/OverusedGrotesk-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*{
  font-family:Overusedgrotesk Roman, Tahoma, sans-serif;
  font-weight:10;
}
html, body, #root{
     overscroll-behavior: none;
    
}